In [1]:
import datetime as dt

import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('qt4agg')
#matplotlib.style.use('ggplot')

data_dir = '../data/'

In [2]:
parser = lambda date: pd.datetime.strptime(date, '%d-%m-%Y')
f = pd.read_csv(data_dir + 'transactions.csv', parse_dates=['Date'], date_parser=parser)

# Rename columns for convenience
columns1 = {
  c: c.lower().strip().replace(' ', '_')
  for c in f.columns
  }
columns2 = {
  'memo/description': 'memo',
  'amount_(credit)': 'credit',
  'amount_(debit)': 'debit',
  }
f = f.rename(columns=columns1).rename(columns=columns2)

f.dtypes
f.head().T

,0,1,2,3,4
account_number,38-9008-0749578-00,38-9008-0749578-00,38-9008-0749578-00,38-9008-0749578-00,38-9008-0749578-00
date,2014-05-05 00:00:00,2014-05-07 00:00:00,2014-05-11 00:00:00,2014-05-14 00:00:00,2014-05-21 00:00:00
memo,CASH DEPOSIT ;KOHA,AP#4978135 TO TANGLEBALL INCORPORATED ;Pay TAN...,PAY Brian Phillips Ltd ;10904 sundries,PAY Brian Phillips Ltd ;121611freigh,AP#4978135 TO TANGLEBALL INCORPORATED ;Pay TAN...
source_code_(payment_type),NaN,NaN,NaN,NaN,NaN
tp_ref,NaN,NaN,NaN,NaN,NaN
tp_part,NaN,NaN,NaN,NaN,rent
tp_code,NaN,NaN,NaN,NaN,NaN
op_ref,NaN,NaN,NaN,NaN,rent
op_part,NaN,NaN,NaN,NaN,tumeke
op_code,NaN,NaN,NaN,NaN,fortnightly
op_name,NaN,NaN,NaN,NaN,TANGLEBALL INCORPORATED
op_bank_account_number,NaN,NaN,NaN,NaN,38-9011-0114266-00
credit,75,NaN,NaN,NaN,NaN
debit,NaN,160,246.1,9.2,160
amount,75,-160,-246.1,-9.2,-160
balance,2862.71,2702.71,2456.61,2447.41,2287.41

In [3]:
f[f['credit'].notnull()][['date', 'credit']]

          date  credit
0   2014-05-05    75.0
7   2014-06-08    40.0
11  2014-07-21    45.5
12  2014-07-28   110.0
15  2014-08-04    80.0
16  2014-08-07    24.5
18  2014-08-26    20.0
22  2014-09-26    85.0
23  2014-09-29   161.9
25  2014-10-09  2500.0
28  2014-11-07    45.0
30  2014-11-21   115.0
33  2014-12-22   700.0
34  2014-12-23   100.0
42  2015-02-09    70.0
44  2015-02-12  1000.0
48  2015-04-08   226.9
54  2015-05-14   110.0
57  2015-06-04   150.0
58  2015-06-05    50.0
60  2015-06-24    20.0
62  2015-07-06    20.0
66  2015-08-04    45.0
67  2015-08-10    40.0
69  2015-08-17    10.0
71  2015-08-31   130.0
73  2015-09-10    10.0
74  2015-09-10    10.0
76  2015-09-28    20.0
77  2015-10-07   100.0
79  2015-10-19   156.0
81  2015-10-27    81.0
83  2015-10-29    25.0
86  2015-11-08   150.0
87  2015-11-09   105.0
89  2015-11-23   687.0
90  2015-11-26    50.0
92  2015-12-07   255.0
93  2015-12-07     5.0
94  2015-12-14   100.0
96  2015-12-17    25.0
97  2015-12-17    20.0
99  2016-01-10    20.0
100 2016-01-12    10.0
102 2016-01-18   322.0
108 2016-02-09    10.0
109 2016-02-09    20.0
111 2016-02-18    35.0
112 2016-02-22    20.0
114 2016-03-07   304.2
115 2016-03-07     5.0
117 2016-03-14    15.0
118 2016-03-16     5.0
119 2016-03-20    25.0
121 2016-03-27    25.0

In [4]:
g = f[['date', 'credit']].copy()
g['date'] = pd.to_datetime(g['date'])
g.dtypes
g = g.set_index('date')#.dropna().sort_index()
g

g.resample('M').sum().plot(kind='bar')